<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.herba.sdk.myapplication">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
<!--   -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name=".AgileCrashApplication"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ForthActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ThirdActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".FirstActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.agile.sdk.ApplicationId"
            android:value="@string/Agile_App_Id" />
        <activity android:name=".SecondActivity" />
    </application>

</manifest>